div.pageHeader {
    width: 100%;
    // background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;

    h2.header-title {
        color: #fff;
        font-size: 25.63px;
        line-height: 33px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    div.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}