div.Sidebar {
    padding: 30px 9px;
    background-color: $mainGray;
    height: 100%;
    width: 80px;
    border-radius: 10px;
    position: relative;

    div.container {
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img.logo {
            max-width: 62px;
            max-height: 61px;
            margin-bottom: 20px;
        }

        ul.menuItems {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            width: 80px;

            li.menuItem {
                cursor: pointer;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                img, svg {
                    color: #fff;
                    opacity: 40%;
                    transition: all .3s;

                    &.active {
                        // color: $purple;
                        opacity: 100%;
                    }
                }

                span.Label {
                    color: #fff;
                    position: absolute;
                    opacity: 0;
                    transition: all 0.5s;
                    left: 30px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    line-height: 21px;
                }
                
                &:hover {
                    span.Label {
                        // opacity: 0.4;
                        opacity: 1;
                    }

                    img, svg {
                        // color: $purple;
                        opacity: 100%;
                    }
                }
            }
        }
    }

}